# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives

You will be able to: 

- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [3]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [4]:
# Your code here
print(df.head(7))

   Year              Datetime    Stage         Stadium         City  \
0  1930  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1  1930  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2  1930  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
5  1930  16 Jul 1930 - 14:45   Group 1  Parque Central  Montevideo
6  1930  17 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0         France                4                1         Mexico
1            USA                3                0        Belgium
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France
5          Chile                3                0         Mexico
6     Yugoslavia                4                0        Bolivia

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
0                     4444.0                     3                     0
1                    18346.0                     2                     0
2                    24059.0                     2                     0
3                     2549.0                     1                     0
4                    23409.0                     0                     0
5                     9249.0                     1                     0
6                    18306.0                     0                     0

                    Referee               Assistant 1  \
0    LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)
5     CRISTOPHE Henry (BEL)   APHESTEGUY Martin (URU)
6  MATEUCCI Francisco (URU)    LOMBARDI Domingo (URU)

                  Assistant 2  RoundID  MatchID Home Team Initials  \
0         REGO Gilberto (BRA)      201     1096                FRA
1       WARNKEN Alberto (CHI)      201     1090                USA
2         BALWAY Thomas (FRA)      201     1093                YUG
3    MATEUCCI Francisco (URU)      201     1098                ROU
4  RADULESCU Constantin (ROU)      201     1085                ARG
5         LANGENUS Jean (BEL)      201     1095                CHI
6       WARNKEN Alberto (CHI)      201     1092                YUG

  Away Team Initials
0                MEX
1                BEL
2                BRA
3                PER
4                FRA
5                MEX
6                BOL

Display the **last 3 rows** of the dataset.

In [5]:
# Your code here
print(df.tail(3))

     Year              Datetime                     Stage  \
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                       Win conditions  \
849                0      Argentina  Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina        Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                   Referee            Assistant 1              Assistant 2  \
849     C�neyt �AKIR (TUR)   DURAN Bahattin (TUR)        ONGUN Tarik (TUR)
850  HAIMOUDI Djamel (ALG)   ACHIK Redouane (MAR)  ETCHIALI Abdelhak (ALG)
851   Nicola RIZZOLI (ITA)  Renato FAVERANI (ITA)     Andrea STEFANI (ITA)

     RoundID    MatchID Home Team Initials Away Team Initials
849   255955  300186490                NED                ARG
850   255957  300186502                BRA                NED
851   255959  300186501                GER                ARG

Get a concise summary of the data using `.info()`.

In [6]:
# Your code here
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB
None

Obtain a tuple representing the **number of rows and number of columns**.

In [7]:
# Your code here
print(df.shape)

(852, 20)

Use the appropriate attribute to get the **column names**.

In [8]:
# Your code here
print(df.columns)

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [9]:
# Your code here
print(df.iloc[2:5])

   Year              Datetime    Stage         Stadium         City  \
2  1930  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
2                    24059.0                     2                     0
3                     2549.0                     1                     0
4                    23409.0                     0                     0

                 Referee              Assistant 1                 Assistant 2  \
2    TEJADA Anibal (URU)  VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)
3  WARNKEN Alberto (CHI)      LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)
4    REGO Gilberto (BRA)     SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)

   RoundID  MatchID Home Team Initials Away Team Initials
2      201     1093                YUG                BRA
3      201     1098                ROU                PER
4      201     1085                ARG                FRA

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [10]:
# Your code here
print(df.loc[4:8,["Home Team Name", "Away Team Name"]])

  Home Team Name Away Team Name
4      Argentina         France
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [12]:
# Your code here
group3_1950 = df[(df["Year"]==1950) & (df["Stage"]== "Group 3")]
print(group3_1950)

    Year              Datetime    Stage           Stadium        City  \
56  1950  25 Jun 1950 - 15:00   Group 3          Pacaembu  Sao Paulo
61  1950  29 Jun 1950 - 15:30   Group 3  Durival de Brito   Curitiba
65  1950  02 Jul 1950 - 15:00   Group 3          Pacaembu  Sao Paulo

   Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
56         Sweden                3                2          Italy
61         Sweden                2                2       Paraguay
65          Italy                2                0       Paraguay

   Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
56                    36502.0                     2                     1
61                     7903.0                     2                     1
65                    25811.0                     1                     0

                  Referee             Assistant 1                Assistant 2  \
56        LUTZ Jean (SUI)     BERANEK Alois (AUT)        TEJADA Carlos (MEX)
61  MITCHELL Robert (SCO)       LEMESIC Leo (YUG)     GARCIA Prudencio (USA)
65     ELLIS Arthur (ENG)  GARCIA Prudencio (USA)  DE LA SALLE Charles (FRA)

    RoundID  MatchID Home Team Initials Away Team Initials
56      208     1219                SWE                ITA
61      208     1228                SWE                PAR
65      208     1218                ITA                PAR

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [13]:
# Your code here
print(group3_1950['Attendance'])

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [14]:
# Your code here
home_games_netherlands = df[df['Home Team Name']== 'Netherlands']
print(len(home_games_netherlands))

32

**How many games were played by the Netherlands in total**?

In [15]:
# Your code here
total_games_netherlands = df[df['Home Team Name']== 'Netherlands']
print(len(total_games_netherlands))

32

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [18]:
# Your code here
usa_2014 = df[(['Year'] == 2014) & ((df['Home Team Name']== 'USA') | (df['Away Team Name'] == 'USA'))]
print(len(usa_2014))

0

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [19]:
# Your code here
world_cup_1986 = df[df['Year']==1986]
countries_1986 = set(world_cup_1986['Home Team Name']).union(set(world_cup_1986['Away Team Name']))
print(len(countries_1986))

24

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [20]:
# Your code here
df['Total Goals'] = df['Home Team Goals'] + df['Away Team Goals']
print(df[df['Total Goals'] >= 5])

     Year              Datetime        Stage             Stadium  \
0    1930  13 Jul 1930 - 15:00       Group 1             Pocitos
10   1930  19 Jul 1930 - 15:00       Group 1  Estadio Centenario
15   1930  26 Jul 1930 - 14:45   Semi-finals  Estadio Centenario
16   1930  27 Jul 1930 - 14:45   Semi-finals  Estadio Centenario
17   1930  30 Jul 1930 - 14:15         Final  Estadio Centenario
..    ...                   ...          ...                 ...
806  2014  23 Jun 2014 - 17:00       Group A    Estadio Nacional
810  2014  24 Jun 2014 - 16:00       Group C      Arena Pantanal
812  2014  25 Jun 2014 - 13:00       Group F   Estadio Beira-Rio
826  2014  08 Jul 2014 - 17:00   Semi-finals    Estadio Mineirao
848  2014  08 Jul 2014 - 17:00   Semi-finals    Estadio Mineirao

                City Home Team Name  Home Team Goals  Away Team Goals  \
0        Montevideo          France                4                1
10       Montevideo       Argentina                6                3
15       Montevideo       Argentina                6                1
16       Montevideo         Uruguay                6                1
17       Montevideo         Uruguay                4                2
..               ...            ...              ...              ...
806        Brasilia        Cameroon                1                4
810          Cuiaba           Japan                1                4
812    Porto Alegre         Nigeria                2                3
826  Belo Horizonte          Brazil                1                7
848  Belo Horizonte          Brazil                1                7

    Away Team Name Win conditions  ...  Half-time Home Goals  \
0           Mexico                 ...                     3
10          Mexico                 ...                     3
15             USA                 ...                     1
16      Yugoslavia                 ...                     3
17       Argentina                 ...                     1
..             ...            ...  ...                   ...
806         Brazil                 ...                     1
810       Colombia                 ...                     1
812      Argentina                 ...                     1
826        Germany                 ...                     0
848        Germany                 ...                     0

     Half-time Away Goals                 Referee              Assistant 1  \
0                       0  LOMBARDI Domingo (URU)    CRISTOPHE Henry (BEL)
10                      1    SAUCEDO Ulises (BOL)   ALONSO Gualberto (URU)
15                      0     LANGENUS Jean (BEL)     VALLEJO Gaspar (MEX)
16                      1     REGO Gilberto (BRA)     SAUCEDO Ulises (BOL)
17                      2     LANGENUS Jean (BEL)     SAUCEDO Ulises (BOL)
..                    ...                     ...                      ...
806                     2    ERIKSSON Jonas (SWE)  KLASENIUS Mathias (SWE)
810                     1     PROENCA Pedro (POR)    MIRANDA Bertino (POR)
812                     2    Nicola RIZZOLI (ITA)    Renato FAVERANI (ITA)
826                     5   RODRIGUEZ Marco (MEX)  TORRENTERA Marvin (MEX)
848                     5   RODRIGUEZ Marco (MEX)  TORRENTERA Marvin (MEX)

                    Assistant 2 RoundID    MatchID  Home Team Initials  \
0           REGO Gilberto (BRA)     201       1096                 FRA
10   RADULESCU Constantin (ROU)     201       1086                 ARG
15        WARNKEN Alberto (CHI)     202       1088                 ARG
16          BALWAY Thomas (FRA)     202       1101                 URU
17        CRISTOPHE Henry (BEL)     405       1087                 URU
..                          ...     ...        ...                 ...
806       WARNMARK Daniel (SWE)  255931  300186472                 CMR
810            TRIGO Jose (POR)  255931  300186457                 JPN
812        Andrea STEFANI (ITA)  255931  300186458                 NGA
826       QUINTERO Marcos (MEX)  255955  300186474                 BRA
848       QUINTERO Marcos (MEX)  255955  300186474                 BRA

    Away Team Initials Total Goals
0                  MEX           5
10                 MEX           9
15                 USA           7
16                 YUG           7
17                 ARG           6
..                 ...         ...
806                BRA           5
810                COL           5
812                ARG           5
826                GER           8
848                GER           8

[147 rows x 21 columns]

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [21]:
# Your code here
df['Half-time Goals'] = df['Half-time Home Goals'] + df['Half-time Away Goals']
print(df.head())

   Year              Datetime    Stage         Stadium         City  \
0  1930  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1  1930  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2  1930  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0         France                4                1         Mexico
1            USA                3                0        Belgium
2     Yugoslavia                2                1         Brazil
3        Romania                3                1           Peru
4      Argentina                1                0         France

  Win conditions  ...  Half-time Away Goals                 Referee  \
0                 ...                     0  LOMBARDI Domingo (URU)
1                 ...                     0       MACIAS Jose (ARG)
2                 ...                     0     TEJADA Anibal (URU)
3                 ...                     0   WARNKEN Alberto (CHI)
4                 ...                     0     REGO Gilberto (BRA)

                Assistant 1                 Assistant 2 RoundID MatchID  \
0     CRISTOPHE Henry (BEL)         REGO Gilberto (BRA)     201    1096
1  MATEUCCI Francisco (URU)       WARNKEN Alberto (CHI)     201    1090
2   VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)     201    1093
3       LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)     201    1098
4      SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)     201    1085

   Home Team Initials  Away Team Initials Total Goals Half-time Goals
0                 FRA                 MEX           5               3
1                 USA                 BEL           3               2
2                 YUG                 BRA           3               2
3                 ROU                 PER           4               1
4                 ARG                 FRA           1               0

[5 rows x 22 columns]

In [22]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [23]:
# Run this cell without changes

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [24]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name'] = 'Korea'
df.loc[df['Away Team Name'].str.contains('Korea'), 'Away Team Name'] = 'Korea'

Make sure to verify your answer!

In [25]:
# Check the updated columns
print(df[df['Home Team Name'].str.contains('Korea')|df['Away Team Name'].str.contains('Korea')])

     Year              Datetime           Stage  \
80   1954  17 Jun 1954 - 18:00          Group 2
88   1954  20 Jun 1954 - 17:00          Group 2
171  1966  12 Jul 1966 - 19:30          Group 4
179  1966  15 Jul 1966 - 19:30          Group 4
187  1966  19 Jul 1966 - 19:30          Group 4
195  1966  23 Jul 1966 - 15:00   Quarter-finals
364  1986  02 Jun 1986 - 12:00          Group A
374  1986  05 Jun 1986 - 16:00          Group A
386  1986  10 Jun 1986 - 12:00          Group A
421  1990  12 Jun 1990 - 17:00          Group E
434  1990  17 Jun 1990 - 21:00          Group E
444  1990  21 Jun 1990 - 17:00          Group E
464  1994  17 Jun 1994 - 19:30          Group C
480  1994  23 Jun 1994 - 19:30          Group C
490  1994  27 Jun 1994 - 16:00          Group C
524  1998  13 Jun 1998 - 17:30          Group E
542  1998  20 Jun 1998 - 21:00          Group E
556  1998  25 Jun 1998 - 16:00          Group E
593  2002  04 Jun 2002 - 20:30          Group D
609  2002  10 Jun 2002 - 15:30          Group D
625  2002  14 Jun 2002 - 20:30          Group D
635  2002  18 Jun 2002 - 20:30      Round of 16
639  2002  22 Jun 2002 - 15:30   Quarter-finals
640  2002  25 Jun 2002 - 20:30      Semi-finals
642  2002  29 Jun 2002 - 20:00      Third place
655  2006  13 Jun 2006 - 15:00          Group G
672  2006  18 Jun 2006 - 21:00          Group G
691  2006  23 Jun 2006 - 21:00          Group G
710  2010  12 Jun 2010 - 13:30          Group B
721  2010  15 Jun 2010 - 20:30          Group G
725  2010  17 Jun 2010 - 13:30          Group B
737  2010  21 Jun 2010 - 13:30          Group G
742  2010  22 Jun 2010 - 20:30          Group B
753  2010  25 Jun 2010 - 16:00          Group G
756  2010  26 Jun 2010 - 16:00      Round of 16
788  2014  17 Jun 2014 - 18:00          Group H
802  2014  22 Jun 2014 - 16:00          Group H
818  2014  26 Jun 2014 - 17:00          Group H

                               Stadium                                City  \
80                            Hardturm                             Zurich
88                          Charmilles                             Geneva
171                      Ayresome Park                      Middlesbrough
179                      Ayresome Park                      Middlesbrough
187                      Ayresome Park                      Middlesbrough
195                      Goodison Park                          Liverpool
364     Estadio Ol�mpico Universitario                        Mexico City
374     Estadio Ol�mpico Universitario                        Mexico City
386                         Cuauhtemoc                             Puebla
421             Marc Antonio Bentegodi                             Verona
434                        Dacia Arena                              Udine
444                             Friuli                              Udine
464                        Cotton Bowl                             Dallas
480                    Foxboro Stadium                             Boston
490                        Cotton Bowl                             Dallas
524                   Stade de Gerland                               Lyon
542                    Stade V�lodrome                         Marseilles
556                   Parc des Princes                              Paris
593           Busan Asiad Main Stadium                              Busan
609            Daegu World Cup Stadium                              Daegu
625           Incheon Football Stadium                            Incheon
635          Daejeon World Cup Stadium                            Daejeon
639          Gwangju World Cup Stadium                            Gwangju
640            Seoul World Cup Stadium                              Seoul
642            Daegu World Cup Stadium                              Daegu
655  FIFA World Cup Stadium, Frankfurt                     Frankfurt/Main
672                     Zentralstadion                            Leipzig
691    FIFA World Cup Stadium, Hanover                            Hanover
710             Port Elizabeth Stadium  Nelson Mandela Bay/Port Elizabeth
721                 Ellis Park Stadium                       Johannesburg
725                Soccer City Stadium                       Johannesburg
737                  Cape Town Stadium                          Cape Town
742                     Durban Stadium                             Durban
753                   Mbombela Stadium                          Nelspruit
756             Port Elizabeth Stadium  Nelson Mandela Bay/Port Elizabeth
788                     Arena Pantanal                             Cuiaba
802                  Estadio Beira-Rio                       Porto Alegre
818                 Arena de Sao Paulo                          Sao Paulo

    Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
80         Hungary                9                0          Korea
88          Turkey                7                0          Korea
171   Soviet Union                3                0          Korea
179          Korea                1                1          Chile
187          Korea                1                0          Italy
195       Portugal                5                3          Korea
364      Argentina                3                1          Korea
374          Korea                1                1       Bulgaria
386          Korea                2                3          Italy
421        Belgium                2                0          Korea
434          Korea                1                3          Spain
444          Korea                0                1        Uruguay
464          Spain                2                2          Korea
480          Korea                0                0        Bolivia
490        Germany                3                2          Korea
524          Korea                1                3         Mexico
542    Netherlands                5                0          Korea
556        Belgium                1                1          Korea
593          Korea                2                0         Poland
609          Korea                1                1            USA
625       Portugal                0                1          Korea
635          Korea                2                1          Italy
639          Spain                0                0          Korea
640        Germany                1                0          Korea
642          Korea                2                3         Turkey
655          Korea                2                1           Togo
672         France                1                1          Korea
691    Switzerland                2                0          Korea
710          Korea                2                0         Greece
721         Brazil                2                1          Korea
725      Argentina                4                1          Korea
737       Portugal                7                0          Korea
742        Nigeria                2                2          Korea
753          Korea                0                3  C�te d'Ivoire
756        Uruguay                2                1          Korea
788         Russia                1                1          Korea
802          Korea                2                4        Algeria
818          Korea                0                1        Belgium

                               Win conditions  ...  Half-time Away Goals  \
80                                             ...                     0
88                                             ...                     0
171                                            ...                     0
179                                            ...                     1
187                                            ...                     0
195                                            ...                     3
364                                            ...                     0
374                                            ...                     1
386                                            ...                     1
421                                            ...                     0
434                                            ...                     1
444                                            ...                     0
464                                            ...                     0
480                                            ...                     0
490                                            ...                     0
524                                            ...                     0
542                                            ...                     0
556                                            ...                     0
593                                            ...                     0
609                                            ...                     1
625                                            ...                     0
635                       Win on Golden Goal   ...                     0
639  Korea Republic win on penalties (3 - 5)   ...                     0
640                                            ...                     0
642                                            ...                     3
655                                            ...                     1
672                                            ...                     0
691                                            ...                     0
710                                            ...                     0
721                                            ...                     0
725                                            ...                     1
737                                            ...                     0
742                                            ...                     1
753                                            ...                     2
756                                            ...                     0
788                                            ...                     0
802                                            ...                     3
818                                            ...                     0

                              Referee                         Assistant 1  \
80             VINCENTI Raymond (FRA)             VON GUNTER Albert (SUI)
88               MARINO Esteban (URU)            ORLANDINI Vincenzo (ITA)
171            GARDEAZABAL Juan (ESP)            KANDIL Aly Hussein (EGY)
179          KANDIL Aly Hussein (EGY)              CRAWFORD William (SCO)
187             SCHWINTE Pierre (FRA)                    ADAIR John (NIR)
195          ASHKENAZI Menachem (ISR)                   GALBA Karol (TCH)
364  SANCHEZ ARMINIO Victoriano (ESP)          GONZALEZ ROA Gabriel (PAR)
374     AL SHANAR Fallaj Khuzam (KSA)                     IGNA Ioan (ROU)
386                 SOCHA David (USA)                 URREA Joaquin (MEX)
421               MAURO Vincent (USA)                   SNODDY Alan (NIR)
434    JACOME GUERRERO Elias V. (ECU)               MAGNI Pierluigi (ITA)
444               LANESE Tullio (ITA)           DIRAMBA Jean Fidele (GAB)
464             MIKKELSEN Peter (DEN)  CHRISTENSEN Carl-Johan Meyer (DEN)
480              MOTTRAM Leslie (SCO)                   MATTHYS Luc (BEL)
490                QUINIOU Joel (FRA)               IVANOV Valentin (RUS)
524                BENKO Gunter (AUT)                   FRED Lencie (VAN)
542              WOJCIK Ryszard (POL)               POCIEGIEL Jacek (POL)
556              REZENDE Marcio (BRA)                 PINTO Arnaldo (BRA)
593                  RUIZ Oscar (COL)                  DORIRI Elise (VAN)
609                   MEIER Urs (SUI)                 BEREUTER Egon (AUT)
625               SANCHEZ Angel (ARG)                  ALTRAIFI Ali (KSA)
635                MORENO Byron (ECU)               RATTALINO Jorge (ARG)
639           EL GHANDOUR Gamal (EGY)                 TOMUSANGE Ali (UGA)
640                   MEIER Urs (SUI)              ARNAULT Frederic (FRA)
642                   MANE Saad (KUW)                  ALTRAIFI Ali (KSA)
655                 POLL Graham (ENG)                  SHARP Philip (ENG)
672            ARCHUNDIA Benito (MEX)                  RAMIREZ Jose (MEX)
691            ELIZONDO Horacio (ARG)                  GARCIA Dario (ARG)
710              HESTER Michael (NZL)             HINTZ Jan Hendrik (NZL)
721               KASSAI Viktor (HUN)                    EROS Gabor (HUN)
725          DE BLEECKERE Frank (BEL)                 HERMANS Peter (BEL)
737                  POZO Pablo (CHI)             BASUALTO Patricio (CHI)
742        Oleg�rio BENQUEREN�A (POR)                 CARDINAL Jose (POR)
753    Alberto UNDIANO MALLENCO (ESP)               MARTINEZ Fermin (ESP)
756              Wolfgang STARK (GER)            SALVER Jan-Hendrik (GER)
788               PITANA Nestor (ARG)                MAIDANA Hernan (ARG)
802               ROLDAN Wilmar (COL)                  DIAZ Eduardo (COL)
818                Ben WILLIAMS (AUS)                 CREAM Matthew (AUS)

                  Assistant 2   RoundID    MatchID  Home Team Initials  \
80         STEINER Carl (AUT)       211       1294                 HUN
88   SCHONHOLZER Ernest (SUI)       211       1304                 TUR
171    DIENST Gottfried (SUI)       238       1710                 URS
179          FINNEY Jim (ENG)       238       1609                 PRK
187         TAYLOR John (ENG)       238       1679                 PRK
195     SCHWINTE Pierre (FRA)       239       1702                 POR
364  DIAZ PALACIO Jesus (COL)       308        395                 ARG
374      BUTENKO Valeri (RUS)       308        460                 KOR
386     AL SHARIF Jamal (SYR)       308        643                 KOR
421     COURTNEY George (ENG)       322         57                 BEL
434        LOUSTAU Juan (ARG)       322        175                 KOR
444         JOUINI Neji (TUN)       322        290                 KOR
464         PEARSON Roy (ENG)       337       3050                 ESP
480     EVERSTIG Mikael (SWE)       337       3065                 KOR
490  HASSAN Abdel-Magid (EGY)       337       3076                 GER
524     SCHNEIDER Erich (GER)      1014       8732                 KOR
542        DUPANOV Yuri (BLR)      1014       8749                 NED
556   ARANGO Jorge Luis (COL)      1014       8765                 BEL
593       LINDBERG Leif (SWE)  43950100   43950014                 KOR
609       TOMUSANGE Ali (UGA)  43950100   43950030                 KOR
625      SZEKELY Ferenc (HUN)  43950100   43950047                 POR
635      SZEKELY Ferenc (HUN)  43950200   43950056                 KOR
639   RAGOONATH Michael (TRI)  43950300   43950059                 ESP
640         AMLER Evzen (CZE)  43950400   43950061                 GER
642      VERGARA Hector (CAN)  43950500   43950063                 KOR
655        TURNER Glenn (ENG)  97410100   97410014                 KOR
672      VERGARA Hector (CAN)  97410100   97410029                 FRA
691       OTERO Rodolfo (ARG)  97410100   97410046                 SUI
710     MAKASINI Tevita (TGA)    249722  300061459                 KOR
721         VAMOS Tibor (HUN)    249722  300061490                 BRA
725      VROMANS Walter (BEL)    249722  300061458                 ARG
737   MONDRIA Francisco (CHI)    249722  300061487                 POR
742     MIRANDA Bertino (POR)    249722  300111115                 NGA
753          YUSTE Juan (ESP)    249722  300061486                 PRK
756         PICKEL Mike (GER)    249717  300061504                 URU
788  BELATTI Juan Pablo (ARG)    255931  300186499                 RUS
802   LESCANO Christian (ECU)    255931  300186495                 KOR
818          ANAZ Hakan (AUS)    255931  300186480                 KOR

     Away Team Initials Total Goals Half-time Goals
80                  KOR           9               4
88                  KOR           7               4
171                 PRK           3               2
179                 CHI           2               1
187                 ITA           1               1
195                 PRK           8               5
364                 KOR           4               2
374                 BUL           2               1
386                 ITA           5               1
421                 KOR           2               0
434                 ESP           4               2
444                 URU           1               0
464                 KOR           4               0
480                 BOL           0               0
490                 KOR           5               3
524                 MEX           4               1
542                 KOR           5               2
556                 KOR           2               1
593                 POL           2               1
609                 USA           2               1
625                 KOR           1               0
635                 ITA           3               0
639                 KOR           0               0
640                 KOR           1               0
642                 TUR           5               4
655                 TOG           3               1
672                 KOR           2               1
691                 KOR           2               1
710                 GRE           2               1
721                 PRK           3               0
725                 KOR           5               3
737                 PRK           7               1
742                 KOR           4               2
753                 CIV           3               2
756                 KOR           3               1
788                 KOR           2               0
802                 ALG           6               3
818                 BEL           1               0

[38 rows x 22 columns]

## Summary

In this lab, you practiced accessing data within Pandas!